{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "extends": ["next","eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:storybook/recommended", "prettier"],
  "plugins": ["@typescript-eslint", "@emotion"],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "react/no-unescaped-entities": 0,
    "prefer-const": ["error", {
      "destructuring": "any",
      "ignoreReadBeforeAssign": false
    }],
    "@typescript-eslint/ban-types": [
      "error",
      {
        "extendDefaults": true,
        "types": {
          "{}": false
        }
      }
    ],
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-empty-interface": 0,
    "@typescript-eslint/no-var-requires": 0
  }
}